<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:substituteby="layout :: charset" />
    <meta th:substituteby="layout :: viewport" />
    <link th:substituteby="layout :: stylesheet" />
    <title>Voir un jeu</title>
  </head>
  <body>

    <div th:include="layout :: header"></div>

    <div id="grid"><div id="content">

        <div th:substituteby="layout :: error_messages"></div>
        <div th:substituteby="layout :: success_messages"></div>

        <h2>Le jeu</h2>

        <p th:text="${game}">game</p>

        <h2>Les IA</h2>

        <ul th:each="ai: ${game.AIs}">
            <li th:text="${ai}">ai</li>
        </ul>

      </div>
    </div>

    <div th:include="layout :: footer"></div>

  </body>
</html>
