<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>IA Challenge</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>

    <div th:include="layout :: header"></div>
    <div th:include="layout :: nav"></div>

    <div class="success_message" th:if="*{inscriptionSuccessful}">
      L'inscription s'est déroulée avec succès. Vous pouvez dès à
      présent vous connecter avec les identifiants que vous avez
      choisis.
    </div>

    <p>Insert content here, and don't forget to add a title to the page.</p>

    <div th:include="layout :: footer"></div>

  </body>
</html>
