<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:substituteby="layout :: charset" />
    <meta th:substituteby="layout :: viewport" />
    <link th:substituteby="layout :: stylesheet" />
    <title>AI Challenge</title>
  </head>
  <body>

    <div th:include="layout :: header"></div>

    <div id="grid">

        <div th:substituteby="layout :: error_messages"></div>
        <div th:substituteby="layout :: success_messages"></div>

        <h1>Bienvenue sur AI Challenge</h1>
        <p><em>AI Challenge</em> est un site vous permettant de programmer des intelligences artificielles (des <em>champions</em>) pour des jeux, et de les faire jouer contre d'autres champions.</p>

        <div class="accueil_colonne">
            <h2>Liste des jeux</h2>
            <ul th:each="game: ${games}">
                <li><a th:href="@{/games/} + ${game.id}" th:text="${game.name}">name</a></li>
            </ul>
        </div>

        <div class="accueil_colonne">
            <h2>Derniers matchs</h2>
            <ul th:each="match: ${matchs}">
                <li>
                    <a th:href="@{/matchs/} + ${match.id}">
                        <span th:text="${match.game.name}"/>
                        -
                        <strong th:if="${match.score1} &gt; ${match.score2}" th:text="${match.ai1.name}"/>
                        <span th:unless="${match.score1} &gt; ${match.score2}" th:text="${match.ai1.name}"/>
                        vs
                        <strong th:if="${match.score1} &lt; ${match.score2}" th:text="${match.ai2.name}"/>
                        <span th:unless="${match.score1} &lt; ${match.score2}" th:text="${match.ai2.name}"/>
                        <em th:if="${match.state} != ${T(aichallenge.Match$State).FINISHED}">[En cours]</em>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div th:include="layout :: footer"></div>

  </body>
</html>
