<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:substituteby="layout :: charset" />
    <meta th:substituteby="layout :: viewport" />
    <link th:substituteby="layout :: stylesheet" />
    <title>AI Challenge</title>
  </head>
  <body>

    <div th:include="layout :: header"></div>

    <div id="grid">

        <div th:substituteby="layout :: error_messages"></div>
        <div th:substituteby="layout :: success_messages"></div>

        <h1>Bienvenue sur AI Challenge</h1>
        <p><em>AI Challenge</em> est un site vous permettant de programmer des intelligences artificielles (des <em>champions</em>) pour des jeux, et de les faire jouer contre d'autres champions.</p>

        <div class="accueil_colonne">
            <h2>Liste des jeux</h2>
            <ul th:each="game: ${games}">
                <li><a href="#" th:text="${game.name}">name</a></li>
            </ul>
        </div>

        <div class="accueil_colonne">
            <h2>Derniers matchs</h2>
            <ul th:each="match: ${matchs}">
                <li><a href="#" th:text="${match}">match</a></li>
            </ul>
        </div>

    </div>

    <div th:include="layout :: footer"></div>

  </body>
</html>
