<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:substituteby="layout :: charset" />
    <meta th:substituteby="layout :: viewport" />
    <link th:substituteby="layout :: stylesheet" />
    <title>Inscription</title>
  </head>
  <body>

    <div th:include="layout :: header"></div>

    <div id="grid"><div id="content">

    <div class="error_message" th:if="*{emptyLogin}">Le pseudo ne doit pas être vide.</div>
    <div class="error_message" th:if="*{emptyFirstName}">Le prénom ne doit pas être vide.</div>
    <div class="error_message" th:if="*{emptyLastName}">Le nom ne doit pas être vide.</div>
    <div class="error_message" th:if="*{loginAlreadyUsed}">Ce pseudo est déjà utilisé.</div>

    <form action="#" th:action="@{/inscription}" th:object="${user}" method="post">
      Pseudo <input type="text" th:field="*{login}" /><br />
      Mot de passe <input type="password" th:field="*{encryptedPassword}" /><br />
      Prénom <input type="text" th:field="*{firstName}" /><br />
      Nom <input type="text" th:field="*{lastName}" /><br />
      <input type="submit" value="Valider" />
    </form>

</div></div>

    <div th:include="layout :: footer"></div>

  </body>
</html>
