<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:substituteby="layout :: charset" />
    <meta th:substituteby="layout :: viewport" />
    <link th:substituteby="layout :: stylesheet" />
    <title>Inscription</title>
  </head>
  <body>

    <div th:include="layout :: header"></div>

    <div id="grid"><div id="content">

        <div th:substituteby="layout :: error_messages"></div>
        <div th:substituteby="layout :: success_messages"></div>

        <form action="#" th:action="@{/inscription}" th:object="${user}" method="post">
          <label for="login">Pseudo</label><input type="text" th:field="*{login}" />
          <ul><li class="error_message" th:each="err : ${#fields.errors('login')}" th:text="${err}" /></ul>
          <label for="password">Mot de passe</label><input type="password" th:field="*{password}" />
          <ul><li class="error_message" th:each="err : ${#fields.errors('password')}" th:text="${err}" /></ul>
          <label for="confirmation">Confirmez le mot de passe</label><input type="password" th:field="*{confirmation}" />
          <ul><li class="error_message" th:each="err : ${#fields.errors('confirmation')}" th:text="${err}" /></ul>
          <label for="firstName">Prénom</label><input type="text" th:field="*{firstName}" />
          <ul><li class="error_message" th:each="err : ${#fields.errors('firstName')}" th:text="${err}" /></ul>
          <label for="lastName">Nom</label><input type="text" th:field="*{lastName}" />
          <ul><li class="error_message" th:each="err : ${#fields.errors('lastName')}" th:text="${err}" /></ul>
          <input type="submit" value="Valider" />
        </form>
      </div>
    </div>

    <div th:include="layout :: footer"></div>

  </body>
</html>
