<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta th:fragment="charset" charset="utf-8" />
        <meta th:fragment="viewport" name="viewport" content="width=device-width, initial-scale=1" />
        <link th:fragment="stylesheet" rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>

    <div th:fragment="header">
    <header>
        <div id="header-logo">
            IA Challenge
        </div>


        <form action="#" method="post"><div>
            <input name="username" id="header-connect-pseudo" placeholder="Pseudo" type="text" />
            <input name="password" id="header-connect-pass" placeholder="Mot de passe" type="password" />
            <input value="Connexion" id="header-connect-submit" name="connect" type="submit" />
            <div><a id="header-inscription" href="/inscription">Inscription</a></div>
        </div></form>

        <nav>
            <ul>
                <li class="first"><a href="/"><img src="/home.png" alt="" />Accueil</a></li>
                <li><a href="/users/list">Liste des utilisateurs</a></li>
                <li class="last"><a href="http://tinyurl.com/kebabb">Radar à buzz</a></li>
            </ul>
        </nav>
    </header>
    </div>

    <div class="error_messages" th:fragment="error_messages">
      <div class="error_message" th:each="errorMessage: ${errorMessages}" th:text="${errorMessage}">
      </div>
    </div>

    <div class="success_messages" th:fragment="success_messages">
      <div class="success_message" th:each="successMessage: ${successMessages}" th:text="${successMessage}">
      </div>
    </div>

    <div th:fragment="footer">
      <footer>
        <div id="footer-liens"><a href="http://www.palkeo.com">palkeo</a><a href="#">maxima</a><a href="http://viod.eu">viod</a><a href="http://isocpp.org">mcarton</a></div>
        <div id="footer-copy">Valide <a href="http://validator.w3.org/check/referer">HTML5</a> et <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.<br />Ou pas.</div>
        <div id="footer-powered-by"><a href="/java1.png">Powered</a> <a href="/java2.png">by</a> <a href="/java3.png">Java</a></div>
      </footer>
    </div>

  </body>
</html>
