<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:substituteby="layout :: charset" />
    <meta th:substituteby="layout :: viewport" />
    <link th:substituteby="layout :: stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <title>Affichage d'un match</title>
  </head>
  <body>

    <div th:include="layout :: header"></div>

    <div id="grid"><div id="content">
        <div th:substituteby="layout :: error_messages"/>
        <div th:substituteby="layout :: success_messages"/>

        <h2 th:text="${match.game.name} + ' - ' + ${match.ai1.name} + ' vs ' + ${match.ai2.name}"/>
        <p>
            État:
                <strong th:if="${match.state} == ${T(aichallenge.Match$State).NOT_STARTED}">En attente</strong>
                <strong th:if="${match.state} == ${T(aichallenge.Match$State).STARTED}">En cours</strong>
                <strong th:if="${match.state} == ${T(aichallenge.Match$State).FINISHED}">Terminé</strong>
            <span th:if="${match.state} != ${T(aichallenge.Match$State).NOT_STARTED}"><br/>Worker : <strong th:text="${match.worker}"/></span>
            <span th:if="${match.state} == ${T(aichallenge.Match$State).FINISHED}">
                <br/><span th:text="${match.ai1.name}" /> : <strong th:text="${match.score1}" />
                <br/><span th:text="${match.ai2.name}" /> : <strong th:text="${match.score2}" />
            </span>
            <br/><span th:if="${match.state} == ${T(aichallenge.Match$State).FINISHED} and ${match.error}">Erreur : <strong th:text="${match.error}" /></span>
        </p>

        <script th:text="${javascript}" type="text/javascript">var turns = [];</script>
        <script type="text/javascript" th:src="'/js/games/' + ${match.game.jsReplayer}"></script>

        <table id="game"></table>

        <p>
            <a href="javascript:previous();">previous</a> | <a href="javascript:next();">next</a>
        </p>

      </div>
    </div>

    <div th:include="layout :: footer"></div>

  </body>
</html>
