<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:substituteby="layout :: charset" />
    <meta th:substituteby="layout :: viewport" />
    <link th:substituteby="layout :: stylesheet" />
    <title>Liste des utilisateurs</title>
  </head>
  <body>

    <div th:include="layout :: header"></div>

    <div id="grid"><div id="content">
        <div th:substituteby="layout :: error_messages"/>
        <div th:substituteby="layout :: success_messages"/>

        <table>
          <tr>
            <th>Pseudo</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Rôle</th>
            <th>Nombre d'IAs</th>
          </tr>
          <tr th:each="user: ${users}">
            <td th:text="${user.login}"/>
            <td th:text="${user.firstName}"/>
            <td th:text="${user.lastName}"/>
            <td th:text="${user.isAdmin()}? 'Admin': 'Utilisateur'"/>
            <td th:text="${pidginInfo.getNbAI(user.id)}"/>
          </tr>
        </table>

      </div>
    </div>

    <div th:include="layout :: footer"/>

  </body>
</html>
