<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Liste des utilisateurs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>

    <div th:include="layout :: header"></div>
    <div th:include="layout :: nav"></div>

    <table>
      <tr>
	<th>Pseudo</th>
	<th>Mot de passe chiffré</th>
	<th>Prénom</th>
	<th>Nom</th>
	<th>Admin</th>
      </tr>
      <tr th:each="user: ${users}">
	<td th:text="${user.login}">toto</td>
	<td th:text="${user.encryptedPassword}">qkjshgfkahdgkqdhsgdkhfg</td>
	<td th:text="${user.firstName}">Toto</td>
	<td th:text="${user.lastName}">Dupond</td>
	<td th:text="${user.isAdmin()}? #{true}: #{false}">true</td>
      </tr>
    </table>

    <div th:include="layout::footer"></div>

  </body>
</html>
